<button (click) = "handleClick()" [disabled] = isDesabled >button</button>
<br>
<input type="text" [(ngModel)]="myName" placeholder="Write your name"/>
<h4>Your name : </h4> 
<span>{{myName}}</span>
<hr>
<h2>Programming Book List!</h2>
<button (click)="isShowing = !isShowing">
    <ng-container *ngIf="!isShowing">Show books</ng-container>
    <ng-container *ngIf="isShowing">Hide books</ng-container>
</button>
<ul *ngIf="isShowing">
    <ng-container *ngFor="let singleBook of books">
        <app-book (bookEmitter)="addToCart($event)" [book] = "singleBook"></app-book>
    </ng-container>
</ul>

