<button (click) = "handleClick()" [disabled] = isDesabled >button</button>
<br>
<input type="text" [(ngModel)]="myName" placeholder="Write your name"/>
<h4>Your name : </h4> 
<span>{{myName}}</span>
<hr>
<h2>Programming Book List!</h2>
<button (click)="isShowing = !isShowing">
    <ng-container *ngIf="!isShowing">Show books</ng-container>
    <ng-container *ngIf="isShowing">Hide books</ng-container>
</button>
<ul *ngIf="isShowing">
    <ng-container *ngFor="let book of books; let i = index">
        <li>
            {{i+1}}
            <img [src]="book.img" [alt]="book.name" width="100px">
            <p>{{book.name | uppercase }} by {{book.author | lowercase}} <span> [Price : {{book.price | currency:'INR'}} ]</span></p>
    </ng-container>
</ul>

