<nav class="flex justify-between p-5 bg-purple-900 text-white">
    <div>
        <a routerLink="/">Book Shop</a>
    </div>
    <div>
        <ng-container *ngIf="!isAuthenticated()">
            <a class="mx-4" routerLink="/login">Login</a>
            <a class="mx-4" routerLink="/register">Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <a class="mx-4" routerLink="/cart">My Cart</a>
            <button class="mx-4" (click)="logout()">Logout</button>
        </ng-container>
    </div>
</nav>

<div class="container p-4">
    <router-outlet></router-outlet>

</div>